:root {
  --mobile-screen: 375px;
  --desktop-screen: 1366px;
  /* Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  /* Font */
  --primary-font: "Barlow", sans-serif;
  --semi-bold: 600;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  font-size: 10px;
}

body {
  background-image: linear-gradient(var(--radial-gradient));
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 40rem;
  justify-items: center;
  max-width: var(--desktop-screen);
  height: 100vh;

  position: relative;
}

.header {
  border-radius: 0.8rem;
  border: 0.3rem solid var(--header-outline);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2.1rem;
  justify-self: center;
  align-self: center;

  height: 9.9rem;
  width: 83.5%;
  max-width: 70rem;
}

.header__logo {
  width: 8.5rem;
}

.header__score {
  background-color: #ddd;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7.2rem;
  width: 8.15rem;
}

.header__score-title {
  color: var(--score-text);
  font-size: 1.1rem;
  text-transform: uppercase;
}

.header__score-points {
  color: var(--dark-text);
  font-size: 4rem;
}

.game {
  width: 37.5rem;
  position: relative;
}

.game__track {
  width: 21rem;

  position: absolute;
  top: 24%;
  left: 50%;
  transform: translateX(-50%);
}

.game__chip {
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 12.5rem;
  min-width: 12.5rem;
  position: relative;
}
.game__chip::after {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  position: absolute;
}

.game__chip--paper {
  background-image: linear-gradient(var(--paper-gradient));
  position: absolute;
  top: 19%;
  left: 9%;
}

.game__chip--scissors {
  background-image: linear-gradient(var(--scissors-gradient));
  position: absolute;
  top: 19%;
  right: 9%;
}

.game__chip--rock {
  background-image: linear-gradient(var(--rock-gradient));
  position: absolute;
  bottom: 12.5%;
  left: 50%;
  transform: translateX(-50%);
}

.game__icon {
  width: 4rem;
  z-index: 10;
}

.rules-button {
  background-color: transparent;
  border-radius: 0.7rem;
  border: 1px solid var(--header-outline);
  color: #ddd;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  height: 4rem;
  letter-spacing: 0.3rem;

  position: absolute;
  top: 65.5rem;
  width: 13rem;

  text-transform: uppercase;
}
.rules-button:active {
  transform: scale(0.98);
}

.rules {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -10;
}

.rules--show {
  height: 100vh;
  width: 100vw;
  opacity: 1;
  z-index: 20;
}

.rules__title {
  font-size: 2.8rem;
  font-weight: var(--bold);
  text-transform: uppercase;
}

.rules__close {
  cursor: pointer;
}
