:root {
  --mobile-screen: 375px;
  --desktop-screen: 1366px;
  /* Primary */
  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);
  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  /* Background */
  --radial-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
  /* Font */
  --primary-font: "Barlow", sans-serif;
  --semi-bold: 600;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  font-size: 10px;
  letter-spacing: 0.15rem;
}

body {
  background-image: linear-gradient(var(--radial-gradient));
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16rem 1fr;
  justify-items: center;

  min-height: 100vh;
  min-width: 100vw;
  max-width: var(--desktop-screen);
  margin: 0 auto;

  position: relative;
  text-transform: uppercase;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.scale:active {
  scale: 0.98;
}

.header {
  border: 0.3rem solid var(--header-outline);
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  align-self: center;

  height: 9.9rem;
  width: 83.5%;
  max-width: 70rem;
  padding: 2.1rem;
}

.header__logo {
  width: 8.5rem;
}

.header__score {
  background-color: #ddd;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  height: 7.2rem;
  width: 8.15rem;
}

.header__score-title {
  color: var(--score-text);
}

.header__score-points {
  color: var(--dark-text);
  font-size: 4rem;
}

.game {
  display: flex;
  justify-content: center;
}

.game__container {
  width: 37.5rem;
  height: 37.5rem;
  position: relative;
}

.game__track {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
}

.game__chip {
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 13rem;
  width: 13rem;

  position: absolute;
  top: 5rem;
}

.game__chip::after {
  content: "";
  background-color: gainsboro;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem black;
  height: 75%;
  width: 75%;
  position: absolute;
}

.game__chip--paper {
  background-image: linear-gradient(var(--paper-gradient));
  left: 3rem;
}

.game__chip--scissors {
  background-image: linear-gradient(var(--scissors-gradient));
  right: 3rem;
}

.game__chip--rock {
  background-image: linear-gradient(var(--rock-gradient));
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
}
.game__chip--rock:active {
  transform: translateX(-50%) scale(0.98);
}

.game__chip--chosen {
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game__chip--winner {
  box-shadow: 0 0 0 40px hsl(217, 16%, 45%, 0.05),
    0 0 0 80px hsl(217, 16%, 45%, 0.08), 0 0 0 120px hsl(217, 16%, 45%, 0.1);
  z-index: -10;
}

.game__icon {
  width: 35%;
  z-index: 10;
}

.rules-button {
  background-color: transparent;
  border-radius: 0.7rem;
  border: 1px solid var(--header-outline);
  color: #ddd;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 13rem;

  position: absolute;
  top: 60rem;
}

.rules {
  background-color: white;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  height: 0;
  width: 100vw;

  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;

  transition-property: height, opacity;
  transition-duration: 0.5s;
  z-index: -10;
}

.rules--show {
  height: 100vh;
  opacity: 1;
  z-index: 20;
}

.rules__close {
  cursor: pointer;
}

.rules__title {
  color: black;
  font-size: 2.8rem;
  font-weight: var(--bold);
}

.rules__image {
  max-width: 0;
  transition-property: max-width;
  transition-duration: 0.5s;
}

.rules__image--show {
  max-width: 100%;
}

.result {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 22rem 20rem;

  min-width: 37.5rem;
  text-align: center;
}

.result__player,
.result__house {
  display: flex;
  position: relative;
}

.result__player {
  border: 1px solid cyan;
  grid-column: 1/2;
}

.result__house {
  border: 1px solid pink;
  grid-column: 2/3;
}

.result__text {
  align-self: end;
  font-size: 1.4rem;
  width: 100%;
}

.outcome {
  animation: showOutcome 0.75s forwards;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 5rem;
  gap: 2rem;
  grid-column: 1 / -1;
  opacity: 0;
}

@keyframes showOutcome {
  0% {
    width: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.outcome__text {
  letter-spacing: 0rem;
}

.outcome__replay-button {
  padding: 1.5rem 5rem;
  border-radius: 1rem;
}

.loading {
  border-radius: 50%;
  border: 4px solid var(--dark-text);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading__percent {
  font-size: 3rem;
  color: var(--dark-text);
}

.game__chip--grow {
  animation: chipGrow 0.75s;
}

@keyframes chipGrow {
  0%,
  100% {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@media (min-width: 769px) {
  body {
    grid-template-rows: 24rem 1fr;
  }

  .header {
    height: 15.4rem;
  }
  .header__logo {
    width: 17rem;
  }
  .header__score {
    height: 11.6rem;
    width: 15rem;
  }
  .header__score-title {
    font-size: 1.6rem;
  }
  .header__score-points {
    font-size: 6.4rem;
  }

  .game__container {
    height: 50rem;
    width: 60rem;
  }
  .game__track {
    width: 30rem;
  }
  .game__chip {
    top: 2rem;
    height: 20rem;
    width: 20rem;
  }
  /* .game__chip--paper {
    left: 6rem;
  }
  .game__chip--scissors {
    right: 6rem;
  } */
  .game__chip--rock {
    top: 25rem;
  }
  .game__chip--chosen {
    top: 50%;
  }
  .game__chip--grow-final {
    height: 27.5rem;
    width: 27.5rem;
    transition-property: height, width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }

  .rules-button {
    top: 70rem;
    margin-left: 85%;
  }

  .rules {
    border-radius: 0.6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 90%;

    top: 18rem;
    left: 50%;
    transform: translateX(-50%);

    padding: 3rem;
    row-gap: 2rem;
    width: 39.5rem;
  }
  .rules--show {
    height: 41rem;
  }
  .rules__title {
    grid-column: 1/2;
    justify-self: start;
  }
  .rules__close {
    grid-column: 2/3;
    justify-self: end;
  }
  .rules__image {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .result {
    border: 2px solid orange;
    grid-template-columns: 3fr 0fr 3fr;
    grid-template-rows: 40rem;

    width: 100%;
    max-width: 102.4rem;

    transition: grid-template-columns 0.75s;
  }
  .result__player {
    /* grid-column: 1/2; */
  }
  .result__house {
    grid-column: 3/4;
  }
  .result__text {
    align-self: start;
    font-size: 2.2rem;
  }

  .result--outcome-expand {
    grid-template-columns: 3fr 2fr 3fr;
  }

  .outcome {
    grid-column: 2/3;
    grid-row: 1;
  }
}
